Aplicación web/CRUD/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="autorizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="autorizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="autorizadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rolResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>